{
  "sourceMaps": "inline",
  "presets": ["@babel/preset-typescript"],
  "plugins": ["@babel/plugin-syntax-import-assertions"],
  "ignore": [
    "src/@cli-dang/activity/index.d.ts",
    "src/@cli-dang/boolean/index.d.ts",
    "src/@cli-dang/chmodx/index.d.ts",
    "src/@cli-dang/decors/index.d.ts",
    "src/@cli-dang/dissection/index.d.ts",
    "src/@cli-dang/error/index.d.ts",
    "src/@cli-dang/input/index.d.ts",
    "src/@cli-dang/json/index.d.ts",
    "src/@cli-dang/shell/index.d.ts",
    "src/@cli-dang/activity/lib/activity/types.ts",
    "src/@cli-dang/boolean/lib/boolean/types.ts",
    "src/@cli-dang/decors/lib/decors/types.ts",
    "src/@cli-dang/dissection/lib/dissection/types.ts",
    "src/@cli-dang/error/lib/error/types.ts",
    "src/@cli-dang/input/lib/input/types.ts",
    "src/@cli-dang/json/lib/json/types.ts",
    "src/@cli-dang/shell/"
  ]
}